.modal-background{
    background:rgba(0,0,0, .5);
    position:fixed;
    top:0%;
    left: 0px;
    height: 100%;
    width: 100%;
}

.modal-div{
    position:absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    animation: showmodalanimation .3s;
}

.modal-div-content{
    padding:10px;
    background: #fff;
    color:#444;
    border-radius: 5px;
    position: relative;
}

.modal-div-close{
    position: absolute;
    right: 5px;
    top:5px;
    padding:8px;
    border-radius: 3px;
    border:solid .5px #ececec;
    cursor: pointer;
    transition:.3s;
}
.modal-div-close:hover{
    border:solid .5px #181818;
}

@keyframes showmodalanimation {
    0%{
        top: 55%;
    }
    100%{
        top: 50%;
    }
}

@keyframes hidemodalanimation {
    0%{
        top: 50%;
        opacity: 100%;
    }
    100%{
        top: 60%;
        opacity: 0%;
    }
}